<template>
	<div>
        <WeatherInfo />
    </div>
</template>

<script>
    import WeatherInfo from "./pages/weather/index";

    export default {
        components: {
            WeatherInfo,
        }
    }
</script>
