<template>
    <input
        type="text"
        class="form-control"
        :placeholder="placeholder"
        v-model="inputModel"
        @change="$emit('update:model', inputModel)"
    >
</template>

<script>
    export default {
        data() {
            return {
                inputModel: '',
            }
        },

        props: [
            'placeholder',
            'model',
        ]
    }
</script>
