<template>
    <div class="container">
        <div class="row">
            <div class="input-group my-3 col-4">
                <Input
                    placeholder="Api Key"
                    :model.sync="formInfo.apiKey"
                />
            </div>
            <div class="input-group my-3 col-4">
                <Input
                    placeholder="City"
                    :model.sync="formInfo.city"
                />
                <div class="input-group-append">
                    <Button @click="getWeatherInfo" />
                </div>
            </div>
        </div>
        <NavigationTabs />
        <WeatherData />
    </div>
</template>

<script>
    import { mapActions } from 'vuex';
    import Button from '../../components/Button';
    import Input from '../../components/Input';
    import NavigationTabs from './NavigationTabs';
    import WeatherData from './WeatherData';

    export default {
        components: {
            Button,
            Input,
            NavigationTabs,
            WeatherData,
        },

        data() {
            return {
                formInfo: {
                    apiKey: '',
                    city: '',
                },
            }
        },

        methods: {
            ...mapActions([
                'setWeatherData',
            ]),

            getWeatherInfo() {
                this.setWeatherData(this.formInfo);
            },
        }
    }
</script>
