<template>
    <div class="row">
        <ul class="nav nav-tabs">
            <li
                class="nav-item"
                v-for="city in weatherData"
            >
                <a
                    class="nav-link"
                    :class="{ 'active': city.name === currentCityInfo.name }"
                    @click.prevent="seeWeatherInfo(city)"
                >
                    {{ city.name }}
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapGetters([
                'weatherData',
                'currentCityInfo'
            ]),
        },

        methods: {
            ...mapActions([
                'setCurrentCityInfo',
            ]),

            seeWeatherInfo(city) {
                this.setCurrentCityInfo({
                    name: city.name,
                    temp: city.main.temp,
                });
            }
        }
    }
</script>
