<template>
    <div class="flex-column mt-3">
        <h3>{{ currentCityInfo.name }}</h3>
        <p>{{ currentCityInfo.temp }}</p>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapGetters([
                'currentCityInfo',
            ])
        }
    }
</script>
